@use 'base/variables' as v;
@use 'base/mixins' as m;

.lineup{
    width: 100%;
    height: auto;
    background: rgb(255,0,110);
    background: linear-gradient(90deg, rgba(255,0,110,0.3) 19%, rgba(3,135,255,0.5) 100%);
    
    
    h3{
        padding-top: 4rem;
        text-align: center;
        font-size: 4rem;
        color: v.$negro;
    }

    .dia{
        text-align: center;
        font-weight: bold;
        font-size: 5rem;
        color: v.$blanco;
        margin: 5rem 0;
    }
}

.escenarios-contenedor{
    margin-bottom: 5rem;
    padding: 3rem 0;
    
    @include m.tablet {
        @include m.grid(2, 3rem);
    }


    .escenario{
        -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
        margin-top: 2rem;
        
    
        p{
            &:after{
                content: '';
                display: block;
                width: 20rem;
                height: 10rem;
                background-size: 15rem;
                background-repeat: no-repeat;
                background-position: center center;
                margin: 2rem auto 0 auto;
            }
        }
    }
   
}


.edm .nombre-escenario:after{
    background-image: url('../img/icono_edm.png');
}

.rock .nombre-escenario:after{
    background-image: url('../img/icono_rock.png');
}

.nombre-escenario{
    padding: 2rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

.calendario{
    @include m.resetear-lista;

    li{
        padding: 2.5rem;
        font-weight: 700;

        span{
            font-weight: 400;
            font-size: 2rem;
        }
    }
}


.bg-verde{
    background-color: lightgreen;

    li:nth-child(2n+1){
        background-color: darken(lightgreen, 17%);
    }

}

.bg-azul{
    background-color: aqua;

    li:nth-child(2n+1){
        background-color: darken(aqua, 16%);
    }
}